# Files produced by bad patch & diff runs
*~*~
*.rej
*.diff
*.orig
interdiff*.txt

# Local caches.
.sass-cache

# IDE artifacts
*~
\#*\#
*.swp
.DS*
._.DS*
.project
.idea

# Upstream dependencies.
vendor
node_modules
.bundle

# Build output
/build

# Site Content
/project/sites/*/files

# Local Settings
/project/sites/default/services.local.yml
/project/sites/default/settings.local.php

# Local test configurations
/project/tests/behat.local.yml

# Scaffolded files
/project/sites/default/default.services.yml
/project/sites/default/default.settings.php

#NPM
npm-debug.log

# Drupal Console
/console

# Outrigger
nhlbi-d8-sync.log
.unison.*
